@charset "UTF-8";
/*布局组件*/
.l-sider{
    position: absolute;
    left: 0;
    top: 0;
    float: left;
    width:189px;
    background: #3d485d;
    height: 768px;
}

.mr20{
   margin-right: 20px !important;
}

.non-under{
    text-decoration: none !important;
}

.forbidden{
    border: 1px solid #d0d0d0 !important;
    color: #d0d0d0 !important;
}

.clear{
    clear: both;
}

.mask-bg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #3b3c3d;
    opacity: 0.6;
    z-index: 99;
}

/*logo*/
.logo-box{
    background: url("../images/head/head-bg.png") repeat-y;
    height:46px;
}
.logo{
    display: block;
    height:100%;
    background: url("../images/head/101-logo.png") no-repeat 50% 50%;
}

/*课程列表*/
.courses-title{
    height:34px;
    line-height:34px;
    background: #354052;
    font-size:12px;
    color:#f2f2f2;
    text-align:center;
}
.courses-list li{
    height:42px;
    position: relative;
    cursor: pointer;

    
}
.courses-item{
    font-size:12px;
    height:42px;
    line-height: 42px;
    position: relative;
    padding-left: 41px;
    background: url("../images/icon/sider_normal.png") no-repeat 20px 0px;
    color:#a4afc3;
}

.courses-list li:hover::before{
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    height:100%;
    width:100%;
    background: url("../images/leftsiderbar/hover-sider.png") repeat-x;
    transition: width .5s;
}

.courses-list li:hover  .courses-item{
    color:#fff;
    background: url("../images/icon/sider_sel.png") no-repeat 20px 0px;
}

.courses-list li.ui-sel{
    background: #4f5f79;
    color:#eff1f1;
}

.courses-list li.ui-sel .courses-item{
    background: url("../images/icon/sider_sel.png") no-repeat 20px 0px;
    color:#eff1f1;
}

.courses-list li.ui-sel::before{
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    width:3px;
    height:100%;
    background:url(../images/leftsiderbar/hover-sider.png);
}


/*内容区*/
.l-content{
    background: #edf2f6;
    height:768px;
    margin-left:189px;
}
/*用户信息区*/
.l-top{
    background: #fff;
    height:46px;
    border-bottom:1px solid #e2e2e2;
    position: relative;
    padding-top: 16px;
}

.user-info__item{
    position: relative;
    padding: 0 16px;
    display: inline-block;
}

.user-info__item::before{
    content:"";
    position:absolute;
    width:1px;
    background: #edf2f6;
    left:0;
    top: -2px;
    bottom: -2px;
}

.user-info__item:first-child::before{
    display: none;
}

.user-info__item .icon{
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

.user-info__txt{
    vertical-align: middle;
    font-size: 12px;
    color: #a0a0a0;
}

/*头部扩展区*/
.extend{
    position: absolute;
    right: 38px;
    top: 11px;
    height:25px;
    width: 73px;
    /* border: 1px solid #16a4fa; */
    /* text-align: center; */
    /* line-height: 34px; */
}

.extend__txt{
    color: #16a4fa;
    font-size: 16px;
}

/*信息头部区*/
.l-main__hd{
    background: #fafbfd;
    height:36px;
    border-bottom:1px solid #e2e2e2;
    position: relative;
}

.tab__item{
    position: relative;
    padding: 10px 38px 12px;
    font-size: 13px;
    display: inline-block;
    color: #4d5b67;
    cursor: pointer;
}

.tab__item::before{
    content:"";
    position:absolute;
    width:1px;
    background: #edf2f6;
    left:0;
    top: 10px;
    bottom: 12px;
}

.tab__item:hover::after, .tab--sel::after{
    content: "";
    position: absolute;
    left: 25px;
    top: 34px;
    width: 77px;
    height: 2px;
    background-color: #2d97d4;
    transition: all .2s;
    -webkit-transition: all .2s;
}

.tab__item:hover, .tab--sel{
    color: #2d97d4;
}


.btn-group{
    position: absolute;
    top: 5px;
    right: 34px;
}




/*icon组件*/
.icon{
    background: no-repeat;
    background-position: 50% 50%;
}

.icon--usr{
    background-image: url("../images/icon/user_03.png");

}

.icon--id{
    background-image: url("../images/icon/identity_06.png");
}

.icon--pull{
    background-image: url("../images/icon/btn-set-pack_03.png");
}

.icon--submit{
    background-image: url("../images/icon/btn_submit.png");
}

.icon--new{
    background-image: url("../images/icon/btn_new.png");
}

.icon--search{
    background-image: url("../images/icon/search.png");
}

.icon--name{
    background-image: url("../images/icon/auth.png");
}

.icon--edit{
    background-image: url("../images/icon/edit.png");
}

.icon--play{
    background-image: url("../images/icon/play.png");
}

.icon--delete{
    background-image: url("../images/icon/delete.png");
}

.icon--auth--delete{
    background-image: url("../images/icon/delete-auth.png");
}

.icon--auth--add{
    background-image: url("../images/icon/add-auth.png");
}


.icon--close{
    background-image: url("../images/icon/close_normal.png");
}

.icon--no--resouces{
    background-image: url("../images/no-source.png");
}

/*btn组件*/
.btn {
    font-size: 11px;
    height: 25px;
    line-height: 25px;
    outline:none;
}

.btn-pack{
    height: 25px;
    border: 1px solid #16a4fa; 
    width:73px;
    padding-left: 9px; 
    text-align: left;
    color: #16a4fa;
    background:url("../images/icon/btn-set-pack_03.png") no-repeat 60px 7px;
}

.btn-pack:hover{
    border-color: #30b8ff;
    color:#30b8ff;
}

.btn-pack:active {
    border-color: #1b92da;
    color: #1b92da;
}

.btn-group__item{
    position: relative;
    border: 1px solid #16a4fa; 
    text-align: right;
    padding-right: 12px;
    color:#f4f9ff;
    width:85px;
    background: url("../images/btn/btn-normal.png") repeat-x;  
}

.btn-group__item .icon{
    display: inline-block;
    height: 14px;
    width: 14px;
    position: absolute;
    top: 4px;
    left: 5px;
}

.btn--upload{
    border: 1px solid #d0d0d0;
    color: #d0d0d0;
    background: #fff;
    font-size: 13px;
    padding: 0 10px;
}


.btn--confirm{
    border: 1px solid #1293f9;
    color: #fff;
    background: url("../images/btn/btn-normal.png") repeat-x;
    font-size: 11px;
    padding: 0 10px; 
    width: 87px;
    height: 24px;
}

.btn--confirm:hover{
    background: url("../images/btn/btn-hover.png") repeat-x;
}

.btn--confirm:active{
    background: url("../images/btn/btn-pre.png") repeat-x;
}

.btn--auth--add{
    border: 1px solid #1293f9;
    width: 30px;
    height: 30px;
    background: url("../images/btn/btn-normal.png") repeat-x;
    position: absolute;
    bottom: 0;
    left: 105%;
    border-radius: 5px;
}

.btn--auth--add .icon{
    width: 20px;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 5px;
    bottom: 5px;
}

.btn--auth--add:hover{
    background: url(../images/btn/btn-hover.png) repeat-x;
}

.btn--auth--add:active{
    background: url(../images/btn/btn-pre.png) repeat-x;
}

/*内容主体区*/
.l-main__bd{
    padding: 80px 0 0 15px;
    position: relative;
}

/*搜索区*/
.search{
    position: absolute;
    right:30px;
    top:16px;
}

.search__main{
    display: inline-block;
    position: relative;
    width:220px;
    height:25px;
}

.search__main input{
    width:220px;
    height:25px;
    outline: none;
    border: 1px solid #ecf0f4;
    color:#e9e9e9;
    text-indent: 10px;
    padding-right: 16px;
    font-size: 10px;
}

.search__main .icon{
    display: inline-block;
    width: 13px;
    height: 13px;
    top: 5px;
    right: 5px;
    position: absolute;
}

.search__btn{
    display: inline-block;
    outline: none;
    border: 1px solid #1293f9;
    background: url("../images/btn/btn-normal.png") repeat-x;
    width: 55px;
    height: 25px;
    color: #fff;
}

.search__btn:hover{
    background: url("../images/btn/btn-hover.png") repeat-x;
}

.search__btn:active{
    background: url("../images/btn/btn-pre.png") repeat-x;
}

/*作品列表区*/
.car-list li{
    width: 255px;
    margin-right: 30px;
    float: left;
    overflow: hidden;
}

.car-item__bd{
    position: relative;
}


.car-box{
    border: 1px solid #dbe0e4;
    background: #fafbfd;
    position: relative;
}

.car-item__info{
    height: 24px;
    width: 100%;
    position: absolute;
    background: #666;
    font-size: 10px;
    opacity: .8;
    bottom:39px;
}

.car-item__info .icon{
    display: inline-block;
    width: 14px;
    height: 15px;
    float: left;
    margin-left:8px;
    margin-top: 5px; 
}

.card-item__name{
    float: left;
    margin-top: 5px; 
    margin-left: 7px; 
    color: #dedfdc;
    width: 107px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.car-item__date{
    float: left;
    color: #dedfdc;
    margin-top: 8px; 
    margin-left: 9px; 
}

.car-item__btns{
    height: 38px;
    width: 100%;
    background: #fafbfd;
    position: absolute;
    bottom: 0;
    left: 0;
}

.car-item__btns .btn{
    float: left;
    border: 0px;
    background: #fafbfd;
    margin-top: 6px;
    margin-left: 40px;
    margin-right: 14px;
    position: relative;
    height: 30px;
    width: 20px;
}

.car-btn .icon{
    display: inline-block;
    width: 18px;
    height: 18px;
}

.btn__text{
    display: inline-block;
    position: absolute;
    top: 15px;
    left: -3px;
    width: 28px;
    font-size: 11px;
    color: #acacac;
}

.car-item__ft{
    margin-top: 9px;
    margin-bottom: 32px;
    text-align: center;
    font-size: 12px;
}

/*分页组件*/
.l-main-ft{
    text-align: center;
    padding-bottom: 78px;
}

.page{
    display: inline-block;
}

.page__item{
    display: inline-block;
    width: 28px;
    height: 28px;
    background: #e7e7e7;
    color: #798189;
    font-size: 10px;
    margin-right: 16px;
    line-height: 28px;
    text-align: center;
    border-radius: 5px;
}

.page a{
    text-decoration: none;
}

.page .sel{
    background: #16a4fa;
    color: #d2e9fe;
}

.page__item:hover{
    background: #30b8ff;
    color:#ddf1ff;
}

/*弹窗区*/
.pop-window{
    position:fixed;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    border-radius: 5px;
    background: #fff;
    display: none;
    z-index: 100;
}

/*新建作品*/
.l-pop--new{
    width: 535px;
}

.pop--title{
    background: #16a5fa;
    text-align: center;
    padding: 9px 0 10px 0;
    border-radius: 5px 5px 0 0;
}

.pop--title__txt{
    font-size: 13px;
    color: #eff1f1;
}

.pop--title .icon{
    display: inline-block;
    width: 14px;
    height: 14px;
    position: absolute;
    right: 7px;
    top: 9px;
}

.icon--close:hover{
    background: url("../images/icon/close_hover.png");
}

.icon--close:active{
    background: url("../images/icon/close-pre.png");
}

.pop-new__content{
    padding: 21px 0 21px 0;
}

.content--table{
    width: 100%;
    margin: 0;
    border-collapse: collapse;
    table-layout: fixed;
    color: #4d5b67;
}
  
.content--table tr th{
    text-align: right;
    font-size: 12px;
    line-height: 34px;
    width: 14%;
}

.content--table tr td{
    text-align: left;
    padding: 3px 12px;
    font-size: 16px;
    
}

.content--table input{
    height: 26px;
    width: 46%;
}

.auth-box{
    margin-top: 8px;
    width:64%;
    height: 100%;
    font-size: 10px;
    padding-bottom: 18px;
    position: relative;
}


.auth__item{
    float: left;
    height: 13px;
    line-height: 13px;
    position: relative;
    padding-right: 17px;
    margin: 10px 8px 0 0 ;
}

.auth__item .icon{
    display: inline-block;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 0px;
    right: 0px;
} 


.input--hidden{
    position: absolute;
    opacity: 0;
}


.content--table .btn--upload{
    position: relative;
    display: inline-block;
    width: 46%;
    height: 26px;
    text-align: left;
    margin: 20px 0 18px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.content--table textarea{
    width: 80%;
    height: 107px;
    padding: 17px 0 45px 10px;
    color: #4d5b67;
}

.content--table input,.content--table textarea,.auth-box{
    border: 1px solid #1b92da;
    text-indent: 10px;
    outline: none;
  
}

.pop--new__ft{
    padding-top: 19px;
    height: 100px;
    background: #f0f5f9;
    text-align: center;
}

.tip--txt{
    font-size: 11px;
    margin-top: 12px;
    color: #b2b2b2;
}


/*添加成员*/
.l-pop--class{
    width: 426px;
    height: 576px;
}

.class--box{
    padding: 22px 0 0 20px;
}

.select-box{
    float: left;
    width: 33.8%;
    height: 422px;
    border: 1px solid #d0d0d0;
    background: #fff;
}

.search--bar{
    position: relative;
}

.search--bar input{
    width: 100%;
    height: 36px;
    border: 1px solid #1b92da;
    padding-right: 16px;
}

.search--bar .icon{
    display: inline-block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 7px;
    right: 7px;
}


.name__item{
    width: 79.6%;
    height: 26px;
    padding-left: 7px;
    margin: 8px 0 8px 5px;
    line-height: 26px;
    font-size: 13px;
}

.name-list .sel{
    background: #c3e5fa;
}

.name__item:hover{
    background: #f0f5f9;
}

.operate-box{
    float: left;
    width: 23%;
    height: 422px;
    text-align: center;
    padding-top: 50%;
    position: relative;
}


.operate-box .btn{
    margin-top: -50%;
    margin-bottom: 38px;
    width: 60px;
    height: 34px;
    background: url("../images/btn/btn-normal.png") repeat-x;
    border: 1px solid #1293f9;
    color: #fff;
    border-radius: 2px;
}

.operate-box .btn:not(.btn--forbidden):hover{
    background: url("../images/btn/btn-hover.png") repeat-x;
}

.operate-box .btn:not(.btn--forbidden):active{
    background: url("../images/btn/btn-pre.png") repeat-x;
}

.btn--forbidden{
    border: 1px solid #aab5c7 !important;
    background: #a4afc3 !important;
}


.pop--ft{
    margin-top: 20px;
    padding: 19px 0 0 24px;
    height: 66px;
    background: #f0f5f9;
}

.pop--ft .btn{
    border: 1px solid #1293f9;
    color: #fff;
    border-radius: 2px;
    width: 85px;
    height: 34px;
    font-size: 16px;
    background: url("../images/btn/btn-normal.png") repeat-x;
}

.pop--ft .btn:not(.btn--forbidden):hover{
    background: url("../images/btn/btn-hover.png") repeat-x;
}

.pop--ft .btn:not(.btn--forbidden):active{
    background: url("../images/btn/btn-pre.png") repeat-x;
}

.no-resources{
    position: relative;
    text-align: center;
    font-size: 16px;
    color: #bcc5d4;
    height: 430px;
    line-height: 430px;
}
.no-resources >.icon{
    position: absolute;
    display:inline-block;
    top: 27%;
    left: 46%;
    height: 85px;
    width: 85px;
}

.pop--fail{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40px;
    width: 172px;
    opacity: .5;
    background: #000000;
    color: #fff;
    line-height: 40px;
    margin-left: -86px;
    font-size: 12px;
    text-indent: 44px;
}

.pop--fail--icon{
    display: inline-block;
    position: absolute;
    height: 32px;
    width: 32px;
    top: 8px;
    left: 11px;
    background: url(../images/icon/fail-tip.png) no-repeat;
}